@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #1a1a19;
}

a,
button,
input,
textarea {
  font-family: "Yantramanav", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
.footer__link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #8e8e8d;
}

.main-content {
  padding: 40px 0 105px;
}
@media (max-width: 1240px) {
  .main-content {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .main-content {
    padding: 20px 0 0;
  }
}
.main-content .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skeeev {
  flex: 0 0 400px;
  order: 0;
  min-height: 520px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #d9d8d0;
}
@media (max-width: 992px) {
  .skeeev {
    flex: 1 1 40%;
  }
}
@media (max-width: 576px) {
  .skeeev {
    min-height: auto;
  }
}
.skeeev__figure {
  margin: 0 0 10px;
}
.skeeev__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .skeeev__figure-image {
    width: 100%;
    height: 432px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 576px) {
  .skeeev__figure-image {
    height: 390px;
  }
}
.skeeev__title {
  margin: 0;
  padding: 0 10px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: #000;
}
.skeeev__token {
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.skeeev__token-code {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.skeeev__token-button {
  display: inline-block;
  height: 18px;
  width: 18px;
  padding: 0;
  border: none;
  background: url(../assets/copy-icon.svg) center no-repeat;
  cursor: pointer;
}
.skeeev__token-link {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: url(../assets/token-link-icon.svg) center no-repeat;
  cursor: pointer;
}

.skeeevfolio {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  min-height: 520px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #d9d8d0;
}
@media (max-width: 992px) {
  .skeeevfolio {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .skeeevfolio {
    min-height: 386px;
  }
}
.skeeevfolio_nftfolio {
  order: 1;
  background: url(../assets/nftfolio.jpg) center bottom no-repeat;
  background-color: #d3d9bd;
}
@media (max-width: 992px) {
  .skeeevfolio_nftfolio {
    order: 2;
  }
}
@media (max-width: 576px) {
  .skeeevfolio_nftfolio {
    background-size: 370px;
  }
}
.skeeevfolio_tokenfolio {
  order: 2;
  background: url(../assets/tokenfolio.jpg) left 50px bottom no-repeat;
  background-color: #f3e9d3;
}
@media (max-width: 1240px) {
  .skeeevfolio_tokenfolio {
    background-position: center bottom;
  }
}
@media (max-width: 992px) {
  .skeeevfolio_tokenfolio {
    order: 3;
  }
}
@media (max-width: 576px) {
  .skeeevfolio_tokenfolio {
    background-size: 390px;
  }
}
.skeeevfolio__link {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #000;
  transition: color ease-in-out 0.2s;
  will-change: color;
}
.skeeevfolio__link:hover {
  color: #ffffff;
}
.skeeevfolio__link-bottom {
  display: flex;
  align-items: center;
  gap: 4px;
}
.skeeevfolio__link-bottom::after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url(../assets/arrow-icon.svg) center no-repeat;
  background-size: 15px;
  transition: filter ease-in-out 0.2s;
  will-change: filter;
}
.skeeevfolio__link:hover .skeeevfolio__link-bottom::after {
  filter: brightness(0) invert(1);
}
.skeeevfolio__tokens {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.skeeevfolio__token {
  padding: 5px;
  border-radius: 18px;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  background: rgba(61, 59, 56, 0.5);
  transition: transform ease-in-out 0.2s;
}
@media (max-width: 576px) {
  .skeeevfolio__token {
    border-radius: 14px;
  }
}
.skeeevfolio__token:hover {
  transform: translateY(-10px);
}
.skeeevfolio__token-figure {
  margin: 0 0 10px;
}
@media (max-width: 576px) {
  .skeeevfolio__token-figure {
    margin: 0 0 4px;
  }
}
.skeeevfolio__token-figure-image {
  display: block;
  max-width: 170px;
  width: 100%;
  border-radius: 14px;
}
@media (max-width: 576px) {
  .skeeevfolio__token-figure-image {
    max-width: 90px;
  }
}
.skeeevfolio__token-text {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 0 10px 5px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #fff;
}
@media (max-width: 576px) {
  .skeeevfolio__token-text {
    padding: 0 0 5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
  }
}
.skeeevfolio__token-text::after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url(../assets/arrow-icon.svg) center no-repeat;
  background-size: 15px;
  filter: brightness(0) invert(1);
}

.social {
  flex: 0 0 400px;
  order: 3;
  display: flex;
  flex-direction: column;
  max-height: 520px;
}
@media (max-width: 992px) {
  .social {
    flex: 1 1 40%;
    order: 1;
  }
}
@media (max-width: 576px) {
  .social {
    flex: 1 1 100%;
  }
}
.social__links {
  margin: 0 0 10px;
  padding: 16px;
  border-radius: 20px;
  background-color: #2e2d2a;
}
@media (max-width: 576px) {
  .social__links {
    margin: 0;
  }
}
.social__links-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.social__links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  max-width: 326px;
  margin: 0 auto;
}
.social__link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: 60px;
}
@media (max-width: 768px) {
  .social__link {
    width: 54px;
    height: 54px;
    background-size: 54px;
  }
}
@media (max-width: 576px) {
  .social__link {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
}
.social__link_tg {
  background-image: url(../assets/tg.svg);
}
.social__link_x {
  background-image: url(../assets/x.svg);
}
.social__link_inst {
  background-image: url(../assets/insta.svg);
}
.social__link_debank {
  background-image: url(../assets/debank.svg);
}
.social__qr {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .social__qr {
    display: none;
  }
}
.social__qr-image {
  display: block;
  max-width: 100%;
}