.main-content {
  padding: 40px 0 105px;

  @include desktop {
    padding: 40px 0;
  }

  @include mobile {
    padding: 20px 0 0;
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}