.social {
  flex: 0 0 400px;
  order: 3;
  display: flex;
  flex-direction: column;
  max-height: 520px;

  @include laptop {
    flex: 1 1 40%;
    order: 1;
  }

  @include mobile {
    flex: 1 1 100%;
  }

  &__links {
    margin: 0 0 10px;
    padding: 16px;
    border-radius: 20px;
    background-color: #2e2d2a;

    @include mobile {
      margin: 0;
    }

    &-title {
      margin: 0 0 10px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      max-width: 326px;
      margin: 0 auto;
    }
  }

  &__link {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 60px;

    @include tablet {
      width: 54px;
      height: 54px;
      background-size: 54px;
    }

    @include mobile {
      width: 60px;
      height: 60px;
      background-size: 60px;
    }

    &_tg {
      background-image: url(../assets/tg.svg);
    }

    &_x {
      background-image: url(../assets/x.svg);
    }

    &_inst {
      background-image: url(../assets/insta.svg);
    }

    &_debank {
      background-image: url(../assets/debank.svg);
    }
  }

  &__qr {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      display: none;
    }

    &-image {
      display: block;
      max-width: 100%;
    }
  }
}
