.skeeevfolio {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  min-height: 520px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #d9d8d0;

  @include laptop {
    max-width: none;
  }

  @include mobile {
    min-height: 386px;
  }

  &_nftfolio {
    order: 1;
    background: url(../assets/nftfolio.jpg) center bottom no-repeat;
    background-color: #d3d9bd;

    @include laptop {
      order: 2;
    }

    @include mobile {
      background-size: 370px;
    }
  }

  &_tokenfolio {
    order: 2;
    background: url(../assets/tokenfolio.jpg) left 50px bottom no-repeat;
    background-color: #f3e9d3;

    @include desktop {
      background-position: center bottom;
    }

    @include laptop {
      order: 3;
    }

    @include mobile {
      background-size: 390px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: fit-content;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #000;
    transition: color ease-in-out 0.2s;
    will-change: color;

    &:hover {
      color: #ffffff;
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: 4px;

      &::after {
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        background: url(../assets/arrow-icon.svg) center no-repeat;
        background-size: 15px;
        transition: filter ease-in-out 0.2s;
        will-change: filter;
      }
    }

    &:hover &-bottom::after {
      filter: brightness(0) invert(1);
    }
  }

  &__tokens {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  &__token {
    padding: 5px;
    border-radius: 18px;
    backdrop-filter: blur(14px);
    background: rgba(61, 59, 56, 0.5);
    transition: transform ease-in-out 0.2s;

    @include mobile {
      border-radius: 14px;
    }

    &:hover {
      transform: translateY(-10px);
    }

    &-figure {
      margin: 0 0 10px;

      @include mobile {
        margin: 0 0 4px;
      }

      &-image {
        display: block;
        max-width: 170px;
        width: 100%;
        border-radius: 14px;

        @include mobile {
          max-width: 90px;
        }
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      gap: 2px;
      padding: 0 10px 5px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.04em;
      color: #fff;

      @include mobile {
        padding: 0 0 5px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #fff;
      }

      &::after {
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        background: url(../assets/arrow-icon.svg) center no-repeat;
        background-size: 15px;
        filter: brightness(0) invert(1);
      }
    }
  }
}
